<!--The content below is only a placeholder and can be replaced.-->

  

  <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <ul>
  <li class="text" *ngFor="let item of persons | async">
    {{item.$value}}
  </li>
</ul>

<h1> simple demo for AngularFire</h1> 



  <input type="text" #newname placeholder="FirstName" />
  <input type="text" #newsize placeholder="lastName" />
  <br />
  <button (click)="save(newname.value)">Add Name</button>
  <button (click)="update(newsize.value)">Update lastName</button>
  <button (click)="delete()">Delete</button>
  
</div>

